In [1]:
import pandas as pd

In [2]:
cat=pd.read_csv('../output/answer_cat_10000_lr01bg_01.csv')
cat.head()

  ID_code    target
0  test_0  0.094538
1  test_1  0.211841
2  test_2  0.212847
3  test_3  0.212689
4  test_4  0.048226

In [3]:
nn=pd.read_csv('answer_nn_pca1_features.csv')
nn.head()

  ID_code    target
0  test_0  0.537344
1  test_1  0.784847
2  test_2  0.800626
3  test_3  0.594487
4  test_4  0.137942

In [4]:
gb=pd.read_csv('answer_gb_200_06_max_features.csv')
gb.head()

  ID_code    target
0  test_0  0.070494
1  test_1  0.605342
2  test_2  0.256666
3  test_3  0.050746
4  test_4  0.017326

In [5]:
lgb=pd.read_csv('../output/lgbm_ext_feat_v11.csv')
lgb.head()

  ID_code    target
0  test_0  0.733284
1  test_1  0.890831
2  test_2  0.892507
3  test_3  0.877597
4  test_4  0.536474

In [6]:
res = nn

In [14]:
res.target=lgb.target*0.35 + gb.target*0.0 + nn.target*0.3 + cat.target*0.35
#res.target=lgb.target*0.5 +  cat.target*0.5

In [15]:
res.to_csv("../output/answer_35lgb_35cat_3nn.csv",index=False)

In [16]:
!kaggle competitions submit -c santander-customer-transaction-prediction -f ../output/answer_35lgb_35cat_3nn.csv -m "lgbm_ext_feat_v11.csv answer_nn_pca1_features.csv answer_cat_10000_lr01bg_01"

100%|██████████████████████████████████████| 5.91M/5.91M [00:05<00:00, 1.14MB/s]
Successfully submitted to Santander Customer Transaction Prediction